<section>
    <div class="container">
        <table class="table nt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody>
                <%for (i=0;i<products.length;i++){ %>
                    <tr>

                        <td>
                            <img src="/public/images/product-images/<%= products[i].product._id%>.jpg"
                                style="height:70px; width:70px">
                        </td>
                        <td>
                            <%= products[i].product.Name%>
                        </td>
                        <td>
                            <%= products[i].product.price%>
                        </td>
                        <td>
                            <button class="cart-item-count mr-3" onclick="changeQuantity('<%=products[i]._id%>','<%=products[i].product._id%>','<%= user._id%>',-1)">-</button>
                            <span id="<%= products[i].product._id%>"><%= products[i].quantity%></span>
                            <button class="cart-item-count ml-3" onclick="changeQuantity('<%=products[i]._id%>','<%=products[i].product._id%>','<%= user._id%>',1)">+</button>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger">Remove</a>
                        </td>
                        
                    </tr>
                 <%}%>
            </tbody>
        </table>
        <hr>
            <h3 style="text-align: right;">Total: <span id="total"><%=totalValue%></span></h3>
            <a href="/place-order" class="float-right btn btn-success">Place order</a>
    </div>
</section>

<!-- quantity changing cart ajax function -->

<script>
    function changeQuantity(cartId, proId,userId,count) {
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)
        console.log(userId)
        $.ajax({
            url: '/change-product-quantity',
            
            data: {
                user:userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity:quantity
                
            },
            method: 'post',
            success: (response) => {
                if(response.removeProduct){
                    alert("Product removed from cart")
                    location.reload()
                }else{
                    console.log(response)
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                     
                }

            }
        })

    }
</script>